nav {
	top: 0;
	position: sticky;
	height: 75px;
	/* border: 2px solid red; */
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: #46000D;
	z-index: 20;
}

.sticky {
	position: -webkit-sticky;
	position: sticky;
	top: 0; /* Adjust as needed */
}

#b1 {
	background-color: #000000;
	display: flex;
	flex-direction: row;
}

#c1 {
	position: fixed;
	height: 640px;
	width: 20%;
	background-color: #000000;
}

#c2 {
	position:relative;
	overflow:auto;
	margin-left: 300px;
	height: 700px;
	width: 80%;
	background-color: #000000;
}

#m1 {
	top: 0;
	width: 1180px;
	height: inherit;
	background-color: #000000;
}

h3{
	 text-align: left;
    justify-content: center;
}


h2{
	color: white;
}

h1{
	margin-top:50px;
	text-align: center;
    justify-content: center;
    padding-top:10px;
	background-color:white;
	color:red;
	margin-left:50px;
	height:60px;
	width:200px	
}
.login{
	margin-left:70px;
	margin-top:4px;
	/* background-color:#818589; */
	color:black;
	width:100px;
	height: 30px;
	
}
.header{
	 margin-left: 100px;
}
#playlist{
	width: 150px;
	height: 50px;
	text-align: center;
    justify-content: center;
    background-color: #848884;
    margin-left: 50px;
    margin-top: 50px;
}
h3{
	font-size:xx-large;
    font-weight: 900;
	color: red;
	margin-left: 20px;
	
}
.premium{
    width: 190px;
    height: 40px;
    outline: none;
    border: 1px solid #7a7a7a;
    color: #515151;
    border-radius: 75px;
    font-size: 20px;
    font-weight: 500;
    background: white;
    cursor: pointer;
    margin-left:900px; 
}
.premium:active{
    background: #f3f3f3;
}
#ads{
	background-image: url("/ads.jpg");
	background-repeat: no-repeat;
	background-size: 100% ;
	width: 1100px;
    height: 550px;
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
}
pre{
	color:#6c696994;
	font-size: 40px;
    font-weight: 800;
    font-variant: normal;
	padding-top: 25px;
    padding-left: 70px;
}
#prem{
	width:450px;
    height:200px;
	margin-left:30px;
	margin-top:70px;
/* 	background-color:black; */
	border-radius:7px;
	
	
}
button{
	margin-top: 10px;
	margin-left: 180px;
	width: 100px;
	height: 30px;
	background-color: whitesmoke;
	border-radius: 5px;
}
p{
	color: yellow;
	
	text-align: center;
    justify-content: center;
    padding-top:30px;
	font-size:35px;
    font-weight: 600;
}
#play{
	height: 150px;
    width: 221px;
    background-color: #d52bfe;
    margin-left: 29px;
    margin-top: 65px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size:25px;
    font-weight: 600;
    color: #4b0d17;
}

#d12 {
	/* border: 5px solid rgb(19, 155, 133); */
	width: 100%;
	height: 50px;
	text-align: left;
	justify-content: center;
	font-size: x-large;
	color: #274375;
	/* margin-left: 20px; */
	border-bottom: 2px solid rgb(157, 156, 156);
	
}
#d1222 {
	display: grid; 
	grid-template-columns : repeat(3, 1fr); 
	grid-gap :10px;
	
	background-color : #6d716d68;
	height: 250px;
	width: 25%;
	margin-left: 65px;
	margin-top: 50px;
	margin-bottom: 60px;
	margin-right: 30px;
	gap: 90px;
	
}
#d12222 {
	height: 150px;
	color:red;
}

#d123 {
	/* background-color: #f6f7f9; */
	display: flex;
	flex-direction: column;
}