<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>ADMIN HOME</title>
<link rel="stylesheet" type="text/css" th:href="@{/admin.css}">
</head>
<body>

<p>Welcome Back Admin<p>
<div class="forms">
<form  action="newsong" >
<input class="form1" type="submit" value="ADD SONGS">
</form>
<br><br>

<form  action="viewsong" >
<input class="form2" type="submit" value="View Songs">
</form>


<!-- <form  action="createplaylists" >
<input class="form2" type="submit" value="CREATE PLAYLIST">
</form>

<form  action="updateplaylists" >
<input class="form2" type="submit" value="UPDATE PLAYLIST">
</form>

<form  action="viewplaylists" >
<input class="form2" type="submit" value="VIEW PLAYLIST">
</form> -->


</div>
</body>
</html>