<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Basic-Customer</title>
<link rel="stylesheet" type="text/css" href="/tunecustomer.css">
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
</head>
<body>

	<nav class="sticky">
		<div class="header">
			<h2>TuneHuB</h2>
		</div>
		<div>
			<form action="pay">
				<input class="premium" type="submit" value="Get Premium">
			</form>
		</div>
		<div>
			<form action="logout">
				<input class="login" type="submit" value="LOGOUT">
			</form>
		</div>
	</nav>

	<div id="b1">
		<div id="c1">
			<h1>Playlists</h1>
			<div  id="play">
				<h5>Get Premium and create your own playlist </h5>
			</div>

		</div>


		<div id="c2">
			<div id="m1">
				<div id="d12">
					<h3>Premium Plan Offers</h3>
				</div>
				<div id="ads">
					<pre>Where every touch creates a symphony,
 and every moment is a musical masterpiece</pre>
 
                   <div id="prem">
					<p>Get more out of your music with premium</p>
					 <form id="payment-form">
			         <button type="submit" class="buy-button">BUY</button>
		             </form>
				   </div>
				</div>
				<div id="m1">
				<div id="d12">
					<h3>Latest Songs</h3>
				</div>

				<div id="d1222" class="container">
					<!-- Song elements will be dynamically rendered here -->
					<div id="d12222" class="song" th:each="song : ${songs}">
						<h3 th:text="${song.name}"></h3>
						<p th:text="${song.artist}"></p>
						<p th:text="${song.genre}"></p>
						<!-- Add more song details here -->
						<div id="d123">
							<audio controls>
								<source th:src="${song.link}">
							</audio>
						</div>
					</div>
				</div>
			</div>
			</div>
			
		</div>



	</div>
	
	<script>
$(document).ready(function() {
    $(".buy-button").click(function(e) {
        e.preventDefault();
        var form = $(this).closest('form');
        
        
        createOrder();
    });
});

function createOrder() {
	
    $.post("/createOrder")
        .done(function(order) {
            order = JSON.parse(order);
            var options = {
                "key": "rzp_test_VXJ4RT1MU2Zg5m",
                "amount": order.amount_due.toString(),
                "currency": "INR",
                "name": "Tune Hub",
                "description": "Test Transaction",
                "order_id": order.id,
                "handler": function (response) {
                    verifyPayment(response.razorpay_order_id, response.razorpay_payment_id, response.razorpay_signature);
                },
        
                "prefill": {
                    "name": "Your Name",
                    "email": "test@example.com",
                    "contact": "9999999999"
                },
                "notes": {
                    "address": "Your Address"
                },
                "theme": {
                    "color": "#F37254"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        })
        .fail(function(error) {
            console.error("Error:", error);
        });
}

function verifyPayment(orderId, paymentId, signature) {
     $.post("/verify", { orderId: orderId, paymentId: paymentId, signature: signature })
         .done(function(isValid) {
             if (isValid) {
 				alert("Payment successful");
                window.location.href='payment-success';
         
             } else {
                 alert("Payment failed");
                window.location.href='payment-failure';
             }
         })
         .fail(function(error) {
             console.error("Error:", error);
         });
}
</script>
</body>
</html>